.container {
    margin-top: 2%;
    display: grid;
    gap: 10px;
    padding: 10px;
    width: 350px;
    border: 3px solid black;
    padding: 25px;
    border-radius: 10% 90% 8% 92% / 88% 7% 93% 12%;
}

button,
input,
input:focus {
    background: none;
    border: none;
    outline: none;
    text-align: center
}

.zero {
    background-color: lightblue;
    grid-column: 1/spna 2;
}

.AG,
.CE {
    background-color: red;
}

.plus,
.mod,
.mul,
.dot,
.min {
    background-color: orange;
}

.equal {
    background-color: green;
    grid-column: 5;
    grid-row: 4/span 5;
    height: 100px;
}

.nums {
    background-color: lightblue;
}

.container>div {
    border: 3px solid black;
    border-radius: 88% 12% 90% 10% / 10% 89% 11% 90%;
    text-align: center;
    font-size: x-large;
}

.result {
    height: 75px;
    background-color: lightgray;
    grid-column: 1/span 5;
}